.iconscreen {
  padding-top: 87px;
  padding-bottom: 107px;
  background-color: #F6F6F4;
  .container {
    max-width: 940px;
  }
  &__title {
    margin-bottom: 80px;
    h2 {
      max-width: 480px;
      font-size: 29px;
      line-height: 37px;
      margin-left: auto;
      margin-right: auto;
    }
  }
  &--two {
    background-color: #fff;
    padding-top: 40px;
    padding-bottom: 90px;
    .iconscreen__title {
      margin-bottom: 90px;
    }
  }
  @media (max-width: $break_sm) {
    padding-top: 50px;
    padding-bottom: 50px;
    &__title {
      margin-bottom: 20px;
      h2 {
        font-size: 24px;
        line-height: 29px;
      }
    }
    &--two {
      .iconscreen__title {
        margin-bottom: 20px;
      }
    }
  }
}