.portfolio {
  padding-top: 38px;
  padding-bottom: 115px;
  &__container {
    position: relative;
  }
  &__title {
    margin-bottom: 75px;
    h2 {
      font-size: 29px;
      line-height: 37px;
    }
  }
  &__swiper-container {
  }
  &__button-prev {
    color: #808080;
    transition: 0.3s;
    left: -25px;
    &:after {
      font-size: 35px;
    }
    &:hover {
      color: $orange;
    }
  }
  &__button-next {
    color: #808080;
    transition: 0.3s;
    right: -25px;
    &:after {
      font-size: 35px;
    }
    &:hover {
      color: $orange;
    }
  }
  @media (max-width: $break_lg) {
    &__container {
      padding: 0 20px;
    }
    &__button-prev {
      left: -10px;
    }
    &__button-next {
      right: -10px;
    }
  }
  @media (max-width: $break_sm) {
    padding-bottom: 50px;
    &__container {
      padding: 0 20px;
    }
    &__title {
      margin-bottom: 20px;
      h2 {
        font-size: 24px;
        line-height: 29px;
      }
    }
    &__button-prev {
      left: -10px;
    }
    &__button-next {
      right: -10px;
    }
  }
}