.present {
  &__container {
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
    padding: 0 20px;
    margin-left: auto;
    margin-right: auto;
    position: static;
  }
  &__row {
    position: relative;
    &--1 {
      background-color: #000;
      color: #5F5F5F;
      .present__content {
        margin-left: auto;
      }
      .present__text {
        h2 {
          color: #5F5F5F;
        }
      }
      .present__img {
        width: 70%;
        left: 0;
      }
    }
    &--2 {
      background-image: url(../img/wood_2.jpg);
      background-size: cover;
      color: #fff;
      .present__text {
        h2 {
          color: #fff;
        }
      }
      .present__img {
        right: 0;
      }
    }
    &--3 {
      color: #5F5F5F;
      z-index: 2;
      .present__content {
        margin-left: auto;
      }
      .present__text {
        h2 {
          color: #5F5F5F;
        }
      }
      .present__img {
        bottom: auto;
        top: -100px;
        left: 0;
      }
    }
    &--4 {
      background-image: url(../img/wood_2.jpg);
      background-size: cover;
      color: #fff;
      .present__text {
        h2 {
          color: #fff;
        }
      }
      .present__img {
        width: 48%;
        bottom: auto;
        top: 0;
        right: 0;
      }
    }
  }
  &__content {
    max-width: 300px;
    padding: 200px 0;
    position: relative;
    z-index: 3;
  }
  &__num {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 90px;
    border-radius: 100%;
    background-color: $orange;
    font-size: 48px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 50px;
  }
  &__text {
    h2 {
      font-size: 32px;
      text-align: left;
      margin-bottom: 20px;
    }
    p {
      font-size: 18px;
      font-weight: 600;
    }
  }
  &__img {
    width: 40%;
    position: absolute;
    bottom: 0;
    img {
      display: block;
    }
  }
  @media (max-width: $break_xl) {
    &__content {
      padding: 120px 0;
    }
  }
  @media (max-width: $break_lg) {
    &__row {
      &--3 {
        .present__img {
          top: -50px;
        }
      }
    }
    &__content {
      padding: 50px 0;
    }
  }
  @media (max-width: $break_sm) {
    &__row {
      &--3 {
        .present__img {
          top: -20px;
        }
      }
    }
    &__num {
      width: 60px; 
      height: 60px;
      font-size: 30px;
    }
    &__text {
      h2 {
        font-size: 28px;
      }
      p {
        font-size: 14px;
      }
    }
  }
  @media (max-width: $break_xs) {
    &__row {
      &--1 {
        background-color: #fff;
        .present__content {
          margin-left: 0;
        }
      }
      &--2 {
        
      }
      &--3 {
        .present__content {
          margin-left: 0;
        }
      }
      &--4 {
        
      }
    }
    &__img {
      display: none;
    }
  }
}